<nav>
    <div class="site-title">
        <a href="/">
            <h1>Blogg IT</h1>
        </a>
        <p>
            Write, Express, Connect!
        </p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">Create new Blog</a></li>
    </ul>
</nav>